.dropdown__container {
  background: linear-gradient(to bottom right, #2e2e3a, #2f1224);
  list-style-type: none;
  color: var(--white);
  padding: 1rem;
  font-size: 14px;
  position: absolute;
  top: 4rem;
  right: 1rem;
}
.dropdown__container li {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;
  backdrop-filter: blur(150px);
}
.show {
  display: block;
}
.hide {
  display: none;
}
.dropdown__container li:first-child img {
  filter: invert(1);
}
